*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-image: url(https://media.istockphoto.com/photos/beautiful-luxury-home-exterior-at-twilight-picture-id1026205392?k=6&m=1026205392&s=612x612&w=0&h=pe0Pqbm7GKHl7cmEjf9Drc7Fp-JwJ6aTywsGfm5eQm4=);
    background-size: cover;
}
/* VARS */
:root {
    --padding: .5em;
    --color: rgb(255, 153, 0)
  }
/* MENU */
ul,ul::before{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    background-color: #222222;
    color: white;
    margin: auto;
    width: 500px;
    box-sizing: border-box;
    position: relative;
}
ul::before{
    content: '&nbsp';
    position: absolute;
    z-index: -1;
    width: 100vw;
    padding: var(--padding) .5em;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}
li{
    cursor: pointer;
    padding: var(--padding) .5em;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    user-select: none;
    font-weight: bolder;
}
li:hover{
    border-top: 2px solid var(--color);
    border-bottom: 2px solid var(--color);
    text-shadow: 0 0 4px var(--color);
}
li:active{
    color: var(--color);
    text-shadow: 0 0 4px var(--color);
}
/* CONTENT */
body > div{
    width: 700px;
    margin: auto;
}
body > div > h1{
    color: white;
    text-shadow: 0 0 4px black;
    padding: 1em .5em;
}
body > div > p{
    color: white;
    text-shadow: 0 0 2px black;
    background-color: rgba(0, 0, 0, .5);
    padding: .5em;
    text-align: end;
    font-style: italic;
    font-family: serif;
    font-size: 1.2em;
    display: inline-block;
    border-right: 8px solid var(--color);
}
body > div > p::before,
body > div > p::after{
    content: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, sit vero quos reiciendis ipsum eos aliquam accusantium molestiae qui aliquid quis quod corporis consequuntur non fuga minus, repellat est blanditiis. ';
    display: inline-block;
    padding-bottom: .5em;
}
body > div > p::after{
    padding-top: .5em;
}